.maincontainer{
    display: block;
}

.flex {
    display: flex;
    justify-content: center;
    
    height: 400px;
/*border: 1px solid gray;
    border-radius: 10px;*/
}
.input{
    margin-bottom: 20px;
}
#imagebox{
    align-self: center;
    width: 300px;
    height: 300px;
}
.emailbox{
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    margin-left: 10px;
    width: 450px;
    height: 300px;
    align-self: center;
    text-align: -webkit-center;
}
.email{
    width: 300px;
    justify-content: center;
}
.label:not(:last-child) {
    margin-bottom: 1em;
    color: rgb(218, 53, 53);
    font-size: 9px;
    text-align-last: end;
}

#titlebox{
    width: 100%;
    margin-top: 40px;
    margin-left: 50px;
    height: 210px;
    text-align: center;
}
#submit{
    background-color: rgb(218, 53, 53);
    color: white;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    height: 35px;
    width: 250px;
}
#submit:hover {
    background-image: linear-gradient(120deg, rgb(226, 76, 76), rgb(212, 45, 45));
    
}
