@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');


/*Richard login page*/

.maincontainer{
    display: block;
}

.flex {
    display: flex;
    justify-content: center;
    
    height: 400px;
/*border: 1px solid gray;
border-radius: 10px;*/
}
.input{
    margin-bottom: 20px;
}
#imagebox{
    align-self: center;
    width: 300px;
    height: 300px;
}
.emailbox{
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    margin-left: 10px;
    width: 450px;
    height: 300px;
    align-self: center;
    text-align: -webkit-center;
}
.email{
    width: 300px;
    justify-content: center;
}
.label:not(:last-child) {
    margin-bottom: 1em;
    color: rgb(218, 53, 53);
    font-size: 9px;
    text-align-last: end;
}

#titlebox{
    width: 100%;
    margin-top: 40px;
    margin-left: 50px;
    height: 210px;
    text-align: center;
}
#submit{
    background-color: rgb(218, 53, 53);
    color: white;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    height: 35px;
    width: 250px;
}
#submit:hover {
    background-image: linear-gradient(120deg, rgb(226, 76, 76), rgb(212, 45, 45));
    
}

/*Richard login end*/


/*----------------------------------------------Marie Recipe book page----------------------------------------*/
body{
    width: 100vw;
}

#recipetitleagenda{
    font-size: 40px;
    margin-left: 200px;
    margin-top: 40px;
}

button {
    margin-top: 20px;
}

h2 {
    background-color: #F5F5F7;
    width: 40%;
    height: 105px;
    border-radius: 14px;
    color: black;
    display: flex;
    align-items: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 36px;
    font-style: normal;
    line-height: 73px;


}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
}

.modal-card{
    margin-bottom: 20px;
    opacity: 0.8;
    border-radius: 14px;
    padding-top:10%;
    font-family: 'Montserrat', sans-serif;

}

#agendabox{
width:79%;
border-radius: 14px;
}

.tiles_group{
    margin-top: 0px;
}

.tile_info{
    align-self: center;

}

.is-grey{
    background-color: #F5F5F7;
}

.title{
    font-size: 10px;
    color:black;
    font-family: 'Poppins', sans-serif;
}

.subtitle{
    font-size: 15px;
    font-family: 'Roboto', sans-serif; 

}
p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

#textrecipesumbit{
    font-size: 16px;
    padding-bottom: 30px;
    padding-top:10px
}


#tilesubmitmargins{
    margin-left: -5%;
    margin-top: -10%
}

#submitbox{
    margin-left: 30%;
    border-radius: 14px;

}

#addRecipe{
    border-radius: 10px;
    margin-left: 55px;
   }

#addRecipe:hover {
    opacity: 0.5; 
}


/*Marie Recipe book page */


/*BEGINNING OF SIDEBAR MENU*/

.studentdashboard {
    padding-left: 50px;
    padding-top: 4%;
}

/*--------------------------------------------SIDEBAR-MENU-------------------------------------------------------------*/

#paddingmenu {
    padding-left: 32.34px;
    width: 135px;
    margin-top: -13.7%;
    margin-right: 30px;
} 
   
   
   #menubar{
       height: 662px; 
       color: white;
       border-radius: 24px;
       box-shadow: 5px 3px 3px lightgrey;
       position: fixed;
   }
   
   #titlemenu  {
       color: white;
       font-family: 'Montserrat', sans-serif;
       margin-left: 3px;
       margin-top: 22px;
       text-shadow: 1px 1px 1.2px white;
   }
   
   .homebutton{
     margin-top: 60px;
     text-align: center;
     cursor: pointer; 
   }
   
   .calendarbutton{
       padding-top: 35px;
       text-align: center;
       cursor: pointer; 
     }
   
   .calendarbutton:hover {
       opacity: 0.5; 
   }
   
   .homebutton:hover {
       opacity: 0.5; 
   } 
   
   .logoutbutton{
       margin-top: 350px;
       text-align: center;
       cursor: pointer; 
   }
   
   .logoutbutton:hover {
       opacity: 0.5; 
   }
   
   #leftsidedashboard{
       padding-left: 3%;
       padding-right: 2.3%;
   }

   section{
       padding-bottom:10%;
   }
   
   